* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.area-Ttl{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
/* ---------------------------------- */
.area-Menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid rgb(0, 0, 0);
    margin: 1px;
    padding: 1px;
    gap:1%;

    height: 99.7vh;
    min-width: 20vw;

    /* background-image: url();
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat; */
    
}


.menu-BtsPesq{
    display: flex;
    flex-direction: column;

    border: 1.5px solid rgb(0, 0, 0);
    height: 15%;
    width: 99%;
    gap:1%;
    padding: 0.25%;

}
.menu-Bts{
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1.5px solid rgb(255, 255, 255);
    height: 60%;
    width: 100%;
}
#bts-Icone{
    background-color: rgb(255, 255, 255,0);
    border: none;
    cursor: pointer;
}
.menu-Pesq{
    display: flex;
    align-items: center;

    border: none;
    height: 40%;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    gap: 1%;
}
.pesq-Barra{
    display: flex;
    align-items: center;

    height: 100%;
    width: 90%;
}
#pesq-Barra{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2%;
    height: 75%;
    width: 100%;
    border-radius: 6px;
    
    font-size: 1vw;
}
.pesq-Icone{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 10%;
}
#pesq-Icone{
    height: 85%;
    width: 85%;
    cursor: pointer;   
}

.menu-Lista{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1.5px solid rgb(0, 0, 0);
    height: 85%;
    width: 99%;
    padding: 1%;
    gap: 2%;
}
.lista-NomeConteudo{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 10%;
    width: 100%;
    background-color: rgb(0, 0, 255,0);
}
.lista-LstConteudo{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 90%;
    width: 100%;
    padding: 1%;
    gap: 1%;
    background-color: rgb(0, 255, 0,0);
}
#lstConteudo-Nome{
    display: flex;
    height: 5%;
    width: 100%;
    cursor: pointer;
    background-color: rgb(247, 0, 255,0);
}
/* ---------------------------------- */
.area-lousa{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid rgb(0, 0, 0);
    margin: 1px;
    height: 99.7vh;
    width: 80vw;

    /* background-image: url();
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat; */
}