.Icons-bttn1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(240,240,243,1);
    height: 45px;
    cursor: pointer;
}

.Bttn-icon{
    width: 45px;
}

.Bttn-nome{
    font-size: 1.5vh;
    color: var(--cor-4);
}