.Container-NavBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 115px;
    width: 100vw;
}



.NavBar-nome_icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100% - var(--NavBar_Placa));
    background-color: rgb(240,240,243,1);


}
.NavBar-nome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:end;
    font-size: 3vh;
    color: var(--cor-4);
    gap:25px;
    padding-left: 11.2%;
    height: 60%;
    width: 100%;
}

.NavBar-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    background-color: rgb(240,240,243,1);
}
.Menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color:  rgb(240,240,243,1);
}
.Icons-bttn{

}
.Icons-icon{
    height: 46px;
}



.Nome-placa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: var(--NavBar_Placa);
    overflow: hidden;
}
.PlacaNavbar{
    min-height: 10%;
}