.Container-NavBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 22.5vh;
    max-width: 100vw;
}



.NavBar-nome_icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100% - var(--NavBar_Placa));
    background-color: rgb(240,240,243,1);
    border-bottom: 2.5px solid black;


}
.NavBar-nome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:end;
    padding-left: 11.2%;
    font-size: 4.5vh;
    color: var(--cor-4);
    gap:25px;
    height: 55%;
    width: 100%;
}

.NavBar-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 11.2%;
    gap:135px;
    height: 45%;
    width: 100%;
}
.Menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 147px;
}


.Nome-placa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: var(--NavBar_Placa);
    background-color: rgb(240,240,243,1);
    overflow: hidden;
    border-bottom: 2.5px solid black;
}
.PlacaNavbar{
    min-height: 10%;
}