*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    min-height: 100vh;
    max-width: 100vw;
    /* max-width: 99.4vw; */
}

:root{
  --MenuInicalAlt: 75px;
  --ContNome: 200px;
  --corFundo: rgba(255, 0, 255, 1);
}