body{
    background-color: rgb(255, 255, 255);
}

#AreaExternaLinha{
    display: flex;
    width: 100%;
    gap:10px;
}

#MenuExternoEsq{
    display: block;
    flex-direction: column;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 15px;
    width: 25%;
    height: 90vh;    
}

#MenuInterno1{
    display: block;
    flex-direction: column;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 15px;
    width: 75%;   
}

#MenuInterno2{
    display: block;
    flex-direction: column;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 15px;
    width: 25%;    
}
#MenuInterno3{
    display: block;
    flex-direction: column;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 15px;
    width: 5%;    
}

#MenuExternoDir{
    display: block;
    flex-direction: column;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 15px;
    width: 75%;
    height: 90vh;    
}