.Cont-CorpoPg{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;

  height: calc(100vh - var(--MenuInicalAlt));
  background-color: aqua;
}

.Cont-Menu-SetList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: calc(100vw - var(--ContSet));
  background-color: rgb(0,255,255,1);
}

.Cont-Menu-Set{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: var(--ContSet);
  background-color: rgb(0, 255, 34);
}
