.Cont-MenuInical{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: var(--MenuInicalAlt);
  width: 100%;
  /* gap:1%; */

  background-color: rgba(255, 0, 255, 0.250);
}



.Cont-Nome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: var(--ContNome);

    font-size: 2vh;

    background-color: rgba(255, 0, 255, 0.500);
}


.Cont-NavBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: calc(100vw - var(--ContNome));

    background-color: rgba(255, 0, 255, 0.500);
}
.NavBar-Nome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 40%;
    width: 100%;
    background-color: rgba(255, 0, 255, 0.750);
}
.NavBar-Icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 60%;
    width: 100%;
    background-color: rgba(255, 0, 255, 0.250);
}