body{
    background-color: rgb(0, 0, 0);
}
#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /*border: 5px solid #ffffff;*/
    background-color: #123d66;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    min-height: 200px;
    box-shadow: 2.5px 2.5px 10px #ffffff
}

#cadastro{
    display: block;
    border: 5px solid #ffffff;
    background-color: #123d66;
    border-radius: 25px;
    padding: 2px;
    margin: 10px;
    width: 300px;
    min-height: 100px;
}

#containerInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    border-radius: 5px;
    height: 25px;
}

button{
    background-color: #ffffff;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

button:hover{
    background-color: #ffffff;
    scale: 1.5;
}