.Container-Corpo_Parte0{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 55vh;
    max-width: 100vw;
    background-color: var(--cor-2);
    border-bottom: 3px solid var(--cor-3);
}


.Corpo_Parte0-texto{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    height: 100%;
    width: 60%;
}
.texto-txt1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 40%;
}
.txt1{
    font-size: 15vh;
    color: var(--cor-1);
    border-bottom: 5px solid var(--cor-1);
}
.texto-txt2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
 
    height: 60%;
}
.txt2{
    height: 100%;

    padding: 1%;
    font-size: 3vh;
    font-weight: bold;
    color: var(--cor-1);
}

.Corpo_Parte0-img{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 40%;
}
.img-logoG{
    display: flex;
    justify-items: center;
    align-items: center;

    height: 100%;
    width: auto;
}


/* ---___---___--- */


.Container-Corpo_Parte1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 22.4vh;
    max-width: 100vw;
    background-color: var(--cor-6);
    border-bottom: 3px solid var(--cor-3);
}

.Corpo_Parte1-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 5%;
}
.icon-endereco{
    height: 100px;
    width: 100px;
}

.Corpo_Parte1-img{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 17.5%;
}
.img-cartao{
    display: flex;
    justify-items: center;
    align-items: center;

    height: 100%;
    width: auto;
}

.Corpo_Parte1-texto{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0.5%;

    height: 100%;
    width: 77.5%;
}
.texto-txt3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    height: 100%;
}
.txt3{
    justify-content: left;
    font-size: 5vh;
    color: var(--cor-1);
}


/* ---___---___--- */


.Container-Corpo_Parte2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 55vh;
    max-width: 100vw;
    background-color: var(--cor-6);
    border-bottom: 3px solid var(--cor-3);
}