* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding-top: 0.25%;
    flex-direction: center;
}

#menuPessoal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    border: 3px solid rgba(0, 0, 255, 0);
    width: 270px;
    height: 60px;

}

#menuPessoalRecolhido{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 25px;
    width: 60px;
    height: 60px;
}

.iconeMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    width: 90px;
    height: 90px;
    padding-bottom: 4.8px;
    cursor: pointer;
}

#menuPessoalEstendido {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: rgba(0, 0, 255,0);   
    border: 3px solid rgb(0, 0, 0);
    border-radius: 25px;
    width: 265px;
    height: 60px;
    padding-left: 4.8px;
}

#nomeEcurso{
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0);
    text-align: left;
}
